h1 {
    text-align: center;
    font-size: 50px;
    background-color: lightblue;
    margin-top: 0;
}
#link-container{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.page2-container{
    background: white;
    border: 5px solid lightblue;
    margin: 8px auto;
}

.description-container{
    border: 5px solid lightblue;
    margin: 8px;
}

.ingredients-container{
    border: 5px solid lightblue;
    margin: 8px;
}

.steps-container{
    border: 5px solid lightblue;
    margin: 8px;
}

